<ion-header>
  <ion-toolbar>
    <ion-title>password-reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #e62b60; height: 17%">
        <ion-button fill="clear" style="--color: white" (click)="backButton()">&lt;  Back</ion-button>
    </div>

    <ion-list>
      <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input placeholder="E-Mail Adresse" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="resetPass()">Passwort zurücksetzen</ion-button>
    </ion-list>
</ion-content>
