<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-button expand="block" (click)="gotoTipp('sprachen')">5 Sprachen der Liebe</ion-button>
  <ion-button expand="block" (click)="gotoTipp('disg')">Persönlickeitsprofil DISG</ion-button>
  <ion-button expand="block" (click)="gotoTipp('ersteDates')"><b>Talk:</b> Die ersten Dates</ion-button>
  <ion-button expand="block" (click)="gotoTipp('besserKennenlernen')"><b>Talk:</b> Wenn wir uns besser kennenlernen wollen</ion-button>
  <ion-button expand="block" (click)="gotoTipp('intimes')"><b>Talk:</b> Intimes</ion-button>
  <ion-button expand="block" (click)="gotoTipp('everyDay')"><b>Talk:</b> Für jeden Tag</ion-button>
  <ion-button expand="block" (click)="gotoTipp('story')"><b>Talk:</b> Deine Geschichte</ion-button>
  <ion-button expand="block" (click)="gotoTipp('dreams')"><b>Talk:</b> Träume und Geheimnisse</ion-button>
  <ion-button expand="block" (click)="gotoTipp('familie')"><b>Talk:</b> Familie</ion-button>
  <ion-button expand="block" (click)="gotoTipp('freunde')"><b>Talk:</b> Freunde</ion-button>
  <ion-button expand="block" (click)="gotoTipp('kennenlernen')"><b>Talk:</b> Lernt euch besser kennen</ion-button>
  <ion-button expand="block" (click)="gotoTipp('meinung')"><b>Talk:</b> Deine Meinung ist gefragt</ion-button>
  <!--<ion-button expand="block" (click)="">Zeitmanagement Matrix</ion-button> -->

</ion-content>
