<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-button expand="block" (click)="gotoTipp('talk')">Let's talk</ion-button>
  <ion-button expand="block" (click)="gotoTipp('sprachen')">5 Sprachen der Liebe</ion-button>
  <ion-button expand="block" (click)="gotoTipp('disg')">Persönlickeitsprofil DISG</ion-button>
  <!--<ion-button expand="block" (click)="">Zeitmanagement Matrix</ion-button> -->

</ion-content>
