<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965826356748-16sb4ts1a5q0l1kk1sk6pbhjvhne439n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965826356748-16sb4ts1a5q0l1kk1sk6pbhjvhne439n</string>
	<key>API_KEY</key>
	<string>AIzaSyC3HL04NcWz2422M8BWIy4xzmAzco3Dnts</string>
	<key>GCM_SENDER_ID</key>
	<string>965826356748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifelong.app</string>
	<key>PROJECT_ID</key>
	<string>lifelong-59c55</string>
	<key>STORAGE_BUCKET</key>
	<string>lifelong-59c55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965826356748:ios:dcacca05ad0988f3aab029</string>
	<key>DATABASE_URL</key>
	<string>https://lifelong-59c55.firebaseio.com</string>
</dict>
</plist>