ion-content{
    --background: url('../../assets/hands-1150073_1920.jpg') no-repeat center/cover fixed;
}
.email_login{
    --color: black;
}

img{
    margin: 10% 20% 0 20%;
    width: 60% !important;
    height: auto !important;
    align-items: center;
}