ion-content{
    --background: url('../../assets/—Pngtree—white\ background\ with\ abstract\ geometric_1138219.jpeg') no-repeat center/cover fixed;
}
.email_login{
    --color: black;
}

img{
    margin: 10% 20% 0 20%;
    width: 60% !important;
    height: auto !important;
    align-items: center;
}