<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <div align="center">
    <ion-button style="width: 40%;" (click)="questions()">Fragen</ion-button>
    <ion-button style="width: 40%;" (click)="window.open(videoSrc)">Video</ion-button>
  </div>

  <p id="dom"></p>

  <p id="iframe">
    <iframe width="100%" [src]="videoSrcSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

</ion-content>
