<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="test==false" lines="none">
  <ion-card>
    <ion-card-content button="true">
      Hey!<br> Du hast den Partnerschaftstest ja noch garnicht absolviert. Willst du das jetzt tun? <br>
      <ion-button (click)="toTest()">Zum Test</ion-button>
    </ion-card-content>
  </ion-card>
  </ion-item>

  <ion-item *ngIf="partner==false" lines="none">
  <ion-card>
    <ion-card-content button="true">
      Hey! <br> Du hast deinen Partner ja noch garnicht hinzugefügt. Willst du das jetzt tun? <br>
      <ion-button (click)="addPartner()">Partner hinzufügen</ion-button>
  </ion-card-content>
  </ion-card>
  </ion-item>

  <ion-item lines="none">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tipp des Tages</ion-card-title>
      </ion-card-header>
      <ion-card-content button="true">
        Hier kommt der Tipp des Tages rein. <br>
        <ion-button (click)="shareTipp()" fill="clear" slot="icon-only"><ion-icon name="share"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item lines="none">
    <ion-card>
      <canvas #barChart></canvas>
    </ion-card>
  </ion-item>

  <ion-item lines="none">
    <ion-card>
      <ion-card-content>
       <ion-item>
         <ion-label>{{ best[0] }}</ion-label>
        <ion-label><font color="green"><b>{{ best[1] }}</b></font></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ worst[0] }}</ion-label>
        <ion-label><font color="red"><b>{{ worst[1] }}</b></font></ion-label>
      </ion-item> 
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
