<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-input placeholder="Vorname" type="text" [(ngModel)]="prename"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="person"></ion-icon></ion-label>
        <ion-input placeholder="Nachname" type="text" [(ngModel)]="name"></ion-input>
    </ion-item> -->
    <ion-item>
        <ion-label><ion-icon name="mail"></ion-icon></ion-label>
        <ion-input placeholder="Email-Adresse" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="lock"></ion-icon></ion-label>
        <ion-input placeholder="Passwort" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <!--<ion-item class="item-select">
        <ion-label><ion-icon [name]="genderIcon"></ion-icon></ion-label>
        <ion-select name="gender" placeholder="Geschlecht wählen" [(ngModel)]="gender"
      (ionChange)="maleFemaleChange()" style="padding-left: 0 !important;">
          <ion-select-option value="m">Männlich</ion-select-option>
          <ion-select-option value="w">Weiblich</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
        <span class="input-label" ng-if="birth==''" style="color: #aaa;">Birth Date</span>
        <ion-input placeholder="Geburtstag" type="date" [(ngModel)]="birth" class="ios"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label><ion-icon name="heart"></ion-icon></ion-label>
      <span class="input-label" ng-if="birth==''" style="color: #aaa;">Seit wann seid ihr zusammen? (optional)</span>
      <ion-input placeholder="Geburtstag" type="date" [(ngModel)]="jahrestag" class="ios"><ion-icon name="arrow-dropdown-circle"></ion-icon></ion-input>
  </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="registerUser()">Account erstellen</ion-button>
  <p style="text-align: center;">Mit Klick auf den Button "Account erstellen" stimmst du unserer Datenschutzerklärung zu. Diese findest du unter http://lifelongapp.com/datenschutz-lifelong-app</p>
  <!--<input style="visibility: hidden;" type="file" id="profilePicture" (change)="upload($event)" accept=".png,.jpg"/>-->
  <button id="profilePicture" style="visibility: hidden" (click)="openImagePicker()"></button>
</ion-content>
