<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-button expand="block" (click)="changeJahrestag()">Jahrestag ändern</ion-button>
      <ion-button expand="block" (click)="deletePartner()">Partner-Verknüpfung entfernen</ion-button>
      <ion-button expand="block" (click)="logOut()">Ausloggen</ion-button>
      <br>
      <ion-button expand="block" (click)="datenschutz()">Datenschutz</ion-button>
  </ion-list>

</ion-content>
